In [1]:
import pandas as pd
f = pd.read_csv("C:/Users/SDES/Downloads/508/nba.csv")
f.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [19]:
f.dropna(inplace=True)
f.isna().sum()
f.info()
f.fillna({"Number":f["Number"].mean(),"Age":f["Age"].mean(),"Weight":f["Weight"].mean(),"Salary":f["Salary"].mean(),
         "Name":f["Name"].mode()[0],"Team":f["Team"].mode()[0],"Position":f["Position"].mode()[0],"Height":f["Height"].mode()[0],"College":f["College"].mode()[0]})
f.isnull().any()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      364 non-null    object
 1   Team      364 non-null    object
 2   Number    364 non-null    float64
 3   Position  364 non-null    object
 4   Age       364 non-null    float64
 5   Height    364 non-null    object
 6   Weight    364 non-null    float64
 7   College   364 non-null    object
 8   Salary    364 non-null    float64
dtypes: float64(4), object(5)
memory usage: 28.4+ KB

Name        False
Team        False
Number      False
Position    False
Age         False
Height      False
Weight      False
College     False
Salary      False
dtype: bool